@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#18202f;
}
@layer utilities {
    .text-gradient {
      background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @layer utilities{
    

  }
  @keyframes shine {
    0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  }
  
  .shiny-text {
    background: linear-gradient(90deg, #ff008c, #ff8c00, #ff008c);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine 3s linear infinite;
  }

  .Loder-align{
    align-items: center;
    justify-content: center;
    display: flex;
  }